/* Добавленные стили */
.filters {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #79d9bb;
    border-radius: 10px;
    margin-bottom: 20px;
}

.filters label {
    display: flex;
    align-items: center;
    color: #0e4c40;
    margin-right: 20px;
}

.filters input,
.filters select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}

.filters button {
    padding: 10px;
    background-color: #4caf50;
    color: rgb(15, 127, 125);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #45a049;
}

/* Существующие стили */
.table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background: #187053;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
}

.orders-table thead tr {
    background: #1dd3a2;
}

.orders-table th {
    padding: 20px;
    user-select: none;
    gap: 10px;
    color: #ffffff;
    font-size: 18px;
}

.orders-table tbody tr {
    transition: 0.2s ease;
    color: #ffffff;
}

.orders-table tbody tr:hover {
    background-color: #1dd3a2;
}

.orders-table tbody td {
    padding: 8px;
    text-align: center;
    font-size: 17px;
    
}
.link{
    color: white;
  text-decoration: none;
}
