.breadcrumbs {
    max-width: 1200px;
    margin: 20px auto;
}

.breadcrumbs > *{
    display: inline-block;
    margin-right: 10px;
}

.breadcrumbs .crumb::after{
    content: '>';
    margin-left: 10px;
}

.breadcrumbs .crumb:last-child::after{
    display: none
}

.breadcrumbs .crumb a{
    color: #000000;
}
/* 
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #1dd3a2;
    box-shadow: 0 2px 4px #ffffff;
    border-radius: 5px;
}

.header-title {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

.header-menu-link {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
&:hover {
     color: #ffffff;
     transform: scale(1.05);
 }
} */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #1dd3a2;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: 768px) {
        width: 100%; /* Расширяем блок на маленьких экранах */
    }
    @media screen and (min-width: 501px) {
        box-shadow: 0 2px 4px #ffffff; /* Добавляем тень только на больших экранах */
    }
}

.header-title {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;

    @media screen and (max-width: 500px) {
        font-size: 13px; /* Уменьшаем размер шрифта для маленьких экранов */
    }
}
