.drug-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drug-draft-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #187053;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    width: 90%;
    height: 100%;
    /* margin-left: auto;
    margin-right: auto; */
}
.top {
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    margin-top: 5px;
}

.draft-buttons-wrapper {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.draft-button {
    color: #e4f0ed;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    background-color: #1dd3a2;
}

.draft-button:hover {
    background: #17ac84;
}

.order-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    margin-top: 5px;
}


.row1 {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-left: 15px;
    padding-left: 10px;
}

.row2 {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    padding-left: 10px;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* ваш остальной код */
}

.row1 .item {
    margin-right: 10px; /* добавить 10 пикселей пространства между элементами */
  }
  
  .row2 .item {
    margin-bottom: 10px; /* добавить 10 пикселей пространства между элементами */
  }