
.breadcrumbs-wrapper {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
  }
  @media (max-height: 443px) {
    .breadcrumbs-wrapper {
      display: none;
    }
  }
  
  .breadcrumbs {
    display: flex;
    align-items: center;
    color: #22461f;
  }
  
  .crumb {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .crumb a {
    color: #22461f;
    text-decoration: none;

  }
  
  .crumb a:hover {
    text-decoration: underline;
  }

  .chevron-icon{
    height: 11px;

  }