.service-text {
    text-indent:20px;
    display: inline;
    color: black;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4px;
    line-height: 0.7;
}

.service-text_but {
    text-indent:13px;
    /* display: inline; */
    color: black;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4px;
    line-height: 0.7;
}

.service-text-li {
    font-size: 1rem;
    font-family: Arial;
    margin-left: 3px;
    line-height: 0.7;
}

.card {
    margin: 5px 20px 5px 10px; 
    border: 3px solid #1dd3a2;
    height: 230px;
    width: 150px;
    border-radius: 5px;
    float: left;
    justify-content: center; 
    background-color: #e7f7f1;

}

.bottom-container {
    display: flex;
    flex-direction: column;
  }
.center-container{
    background-color: #e7f7f1;
   border-radius: 5px;
   padding-bottom: 2px;
   padding-left: 2px;
   padding-right: 2px;
}
.card-body {
    text-align: center;
}

.service-top {
    height: 40px;
    padding-right: 3px;
    background: #1dd3a2;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.card_2 {
    margin-top: 18px; 
    border: 3px solid #1dd3a2;
    height: 235px;
    width: 150px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 7px;
    float: left;
}

.card_serv {
    margin-top: 15px;
    margin-left: 5px; 
    border: 3px solid #1dd3a2;
    height: 400px;
    width: 400px;
    border-radius: 5px;
}

.card_serv2 {
    /* margin-top: 5px; */
    /* margin-left: 5px;  */
    border: 3px solid #1dd3a2;
    height: 480px;
    width: 400px;
    border-radius: 5px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}


.aspect_st {
    color: rgb(9, 8, 8);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;  
}

.butt_serv {
    position: relative;
    bottom: 5px;
    font-size: 13px;
    background-color: #1dd3a2;
    border-radius: 4px;
    width: 77px;
    
    margin-left: 5px;
    
    border: 0;
    float: left;
    text-align: center;
}

.butt_serv_2 {
    position: relative;
    bottom: 8px;
    font-size: 12px;
    background-color: #f73c1f;
    border-radius: 4px;
    width: 55px;
    
    
    padding: 2px;
   
    border: 0;
    text-align: center;
}

.btn {
    bottom: 5px;
    font-size: 14px;
    background-color: #1dd3a2;
    border-radius: 4px;
    width: 115px;

    margin-top: 3px;
}

.btn-1 {
    padding-right: 10px;
}

.img-card {
    width: 145px;
    height: 110px;
    margin-left: 2px;
    margin-top: 3px;
    margin-right: 4px;
    margin-bottom: 2px;
    object-fit: cover;
}

.img-card2 {
    width: 320px;
    height: 200px;
    margin-left: 13%;

    object-fit: cover;
}



.l1 button{

    margin-bottom: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.l2 {

    margin-bottom: 5px;
    text-decoration: none;
    color: rgb(82, 49, 49);
}

.navbar{
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;

}

.sign-up-link-container{
    width: 295px;
    display: flex;
    justify-content: center;

    font-size: 25px;
    margin-left: 10px;
}

.sign-up-text{
    display: flex;
    margin-top: 10px;
    font-size: 25px;
    margin-left: 10px;
}

.input{
    margin-top: 10px;
    font-size: 25px;
    margin-left: 10px;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 25px;
    margin-left: 10px;

}
.account {
    display: flex;
    align-items: center;
    background-color: #2c2c2c;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.account-image {
    width: 50px;
    height: 50px;
}

.account:hover {
    background-color: #282c34;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    margin-left: 15px;
    color: #000;
    /* font-size: 3px; */
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    position: relative;
    height: 50px;

}

.disease-name {
    font-weight: bold;
    color: #999;
    font-size: 14px;
    margin-top: 5px;
}

.account-balance {
    font-weight: bold;
    font-size: 20px;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;    /* margin-left: auto; */
}

.disease-info-button,
.disease-delete-button {
    height: 25px;
    width: 130px;
    margin-top: 5px; 
    cursor: pointer;
    background-color: #1dd3a2;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    display: inline-block; 
}


.account-info-button:hover,
.account-delete-button:hover {
    background-color: #000;
}
.accounts-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  .filters-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  h3 {
    font-size: 24px;
    margin: 0;
  }
  
  .filters-container input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
  }
  
  .filters-container button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #3f51b5;
    color: #ffffff;
    cursor: pointer;
  }


.home-button {
    margin-top: 50px;
}
  
  .account-list-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .home-button2 {
    align-self: flex-start;
    margin-top: 425px;
    margin-left: 48%;
    

  }
  ul {
    line-height: 1;
  }


  .edit_d_info textarea {
    width: 300px;
    height: 100px;
  }
  
  

  .card-wrapper {
    display: flex;
    flex-direction: column;
  }

.disease-back-button{
    font-size: 15px;
    border-radius: 5px;
    background: #1dd3a2;
    border-color: #fff;
    color: #fff;
    margin-top: 40px;
    
}

.disease-back-button2{
    font-size: 15px;
    border-radius: 5px;
    background: #1dd3a2;
    border-color: #fff;
    color: #fff;
    margin-top: 70px;
    
}

.cardImage {
    height: 100px;
    width: 100px;
    object-fit: cover;
    

}
.card_pos{
    text-align: center;
}