.service-text {
    text-indent:20px;
    display: inline;
    color: black;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4px;
}

.service-text-li {
    font-size: 1rem;
    font-family: Arial;
    margin-left: 3px;
}

.card {
    margin: 5px; 
    border: 3px solid #1dd3a2;
    height: 250px;
    width: 150px;
    /*height: 50px;*/   
}

.card-body {
    text-align: center;
}

.service-top {
    height: 40px;
    padding-right: 3px;
    background: #1dd3a2;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.card_2 {
    margin-top: 18px; 
    border: 3px solid #1dd3a2;
    height: 235px;
    width: 150px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 7px;
    float: left;
}

.card_serv {
    margin-top: 15px;
    margin-left: 5px; 
    border: 3px solid #1dd3a2;
    height: 400px;
    width: 400px;
    border-radius: 5px;
}


.aspect_st {
    color: rgb(9, 8, 8);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;  
}

.butt_serv {
        position: relative;
        bottom: 5px;
        font-size: 13px;
        background-color: #1dd3a2;
        border-radius: 4px;
        width: 77px;
       
        margin-left: 5px;
       
        border: 0;
        float: left;
        text-align: center;
}

.butt_serv_2 {
    position: relative;
    bottom: 8px;
    font-size: 12px;
    background-color: #f73c1f;
    border-radius: 4px;
    width: 55px;
    
    
    padding: 2px;
   
    border: 0;
    text-align: center;
}

.btn {
    bottom: 5px;
    font-size: 14px;
    background-color: #1dd3a2;
    border-radius: 4px;
    width: 115px;

    margin-top: 3px;
}

.btn-1 {
    padding-right: 10px;
}

.img-card {
    width: 145px;
    height: 110px;
    margin-left: 2px;
    margin-top: 3px;
    margin-right: 4px;
    margin-bottom: 2px;
    object-fit: cover;
}

.l1 button{

    margin-bottom: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.l2 {

    margin-bottom: 5px;
    text-decoration: none;
    color: rgb(82, 49, 49);
}

.navbar{
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;

}

.sign-up-link-container{
    width: 295px;
    display: flex;
    justify-content: center;

    font-size: 25px;
    margin-left: 10px;
}

.sign-up-text{
    display: flex;
    margin-top: 10px;
    font-size: 25px;
    margin-left: 10px;
}

.input{
    margin-top: 10px;
    font-size: 25px;
    margin-left: 10px;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 25px;
    margin-left: 10px;

}
   